@model WebLinhPhuKienMayTinh.Models.EF.CATEGORY
    @{
        ViewBag.Title = "Edit";
        Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
    }

    <div class="grid_10">
        <div class="box round first grid">
            <h2>Sửa danh mục sản phẩm</h2>
            @Html.ValidationSummary(false, "", new { @class = "error" })
            <div class="success">@ViewData["success"]</div>
            <div class="block copyblock">

                @using (Html.BeginForm("Edit", "Category", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                      
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.catId)

                    <div class="form-group">
                        <label class="new_label">Danh mục sản phẩm</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.catName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>



                        <div class="form-group">
                            <div class="new_submit">
                                <input type="submit" name="submit" Value="Lưu" />
                            </div>
                        </div>
                    </div>
                }

                <div>
                    @Html.ActionLink("<<<Quay lại", "Categorylist", "Category")
                </div>

            </div>
        </div>
    </div>

