
@{
    ViewBag.Title = "newPassword";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@using WebLinhPhuKienMayTinh.Areas.Admin.Models
@model  ChangepasswordModel
<div class="grid_10">
    <div class="box round first grid">
        <h2>Thay đổi mật khẩu</h2>
        @Html.ValidationSummary(false, "", new { @class = "error" })
        <div class="success">@ViewData["success"]</div>
        <div class="block">

            @using (Html.BeginForm("newPassword", "Changepassword", FormMethod.Post))//(action,controller)
            {
                <table class="form">
                    <tr>
                        <td>
                            <label>Tài khoản</label>
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.Username, new { @class = "medium", placeholder = "Nhập tài khoản ..." })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Mật khẩu cũ</label>
                        </td>
                        <td>
                            @Html.PasswordFor(model => model.Password, new { @class = "medium", placeholder = "Hãy nhập mật khẩu cũ..." })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Mật khẩu mới</label>
                        </td>
                        <td>
                            @Html.PasswordFor(model => model.newPassWord, new { @class = "medium", placeholder = "Hãy nhập mật khẩu mới..." })
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <input type="submit" name="submit" Value="Cập nhật" />
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>
</div>


